@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --bg: #121212;
  --surface: #1e1e1e;
  --primary: #ededed;
  --secondary: #a0a0a0;
  --primary-btn: #dc2626; /* neutral red */
  --primary-hover: #a41f1f; /* darker red for hover */
  --secondary-btn: #f87171; /* soft accent */
  --success: #22c55e;
  --warning: #facc15;
  --error: #f43f5e;
  --info: #3b82f6;
  --disabled: #5a5a5a;
  --border: #2a2a2a;
}

* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg);
  color: var(--primary);
  min-height: 100vh;
}

.navbar {
  background-color: var(--surface);
  padding: 10px 20px;
  width: 90%;
  max-width: 800px;
  margin: 20px auto;
  border-radius: 20px;
  border: 1px solid var(--border);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.navbar .title {
  font-size: 30px;
  color: var(--primary-btn);
}

.navbar .buttons {
  display: flex;
  gap: 5px;
  align-items: center;
}

.navbar .buttons button {
  background-color: var(--primary-btn);
  color: var(--bg);
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  margin-left: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.main {
    width: 90%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}

.main h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.main p {
    margin-top: 5px;
    font-size: 19px;
}

.main .agenda-title {
    font-size: 28px;
    margin-top: 50px;
    margin-bottom: 15px;
}

.main .agenda {
    background: var(--surface);
    border: 1px solid var(--border);
    border-radius: 15px;
    padding: 20px;
    height: fit-content;
    
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background-color: var(--surface);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
